* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: wheat;
  color: rgb(61, 55, 55);
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

header h1 {
  padding-left: 1em;
}

.container {
  max-width: 500px;
  margin: 50px auto;
}

/* #form {
  display: flex;
  flex-direction: column-reverse;
} */

.form-input {
  width: 100%;
  font-size: 1.5em;
  border: 3px solid;
  border-radius: 0.5em;
  outline: none;
  padding: 0.2em 0.5em;
  border-color: rgba(0, 0, 0, 0);
  transition: border-color 0.3s ease-out;
}

.btn {
  width: 25%;
  margin: 1em 0;
  font-size: 1em;
  padding: 0.3em;
  border-radius: 0.5em;
  cursor: pointer;
}

.btn-add {
  color: #fff;
  background-color: rgb(93, 61, 61);
}

.filter-input {
  width: 100%;
  font-size: 1.3em;
  border: none;
  border-bottom: 1px solid #000;
  background-color: wheat;
  outline: none;
  padding: 0 0.5em;
  margin: 1em 0;
}

.item-list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.item-list li {
  display: flex;
  justify-content: space-between;
  width: 48%;
  padding: 0.5em;
  margin: 0.3em;
  border: 1px solid;
  border-radius: 0.3em;
  border-color: rgba(0, 0, 0, 1);
}

.btn-remove {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding-right: 0.25em;
}

.btn-clear {
  width: 100%;
  border: 1px solid #000;
  background-color: wheat;
  color: #000;
  margin-top: 1em;
  font-size: 1.25em;
}

.red {
  color: red;
}

#hr {
  border: 0;
  border-top: 1px solid #000;
}
